[Unit]
Description=auth service

[Service]
Environment=DB_HOST={{ db_hostname }}
Environment=DB_NAME={{ db.name }}
Environment=DB_USER={{ db.user }}
Environment=DB_PASSWORD={{ db.password }}
User={{ app.user }}
Group={{ app.group }}
ExecStart={{ app.directory }}/auth

[Install]
WantedBy=multi-user.target